@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: #7a2f43;
	color: $white;
}

body {
	font-size: 18px;
	font-weight: 400;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $black;
	padding: 0;
	margin: 0;
	background-color: $white;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	&.lock {
		overflow: hidden;
	}
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.mobile-hidden {
	display: block;
}

.desktop-hidden {
	display: none;
}

.container {
	max-width: 1735px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	position: relative;
	z-index: 10;
}

.button {
	font-weight: 500;
	text-align: center;
	padding: 18px 20px;
	font-size: 16px;
	font-family: $default-font;
	cursor: pointer;
	background-color: $white;
	color: $text;
	transition: .3s all ease;
	display: inline-block;

	&:hover {
		box-shadow: inset 0 0 0 30px rgba(255, 255, 255, .1);
	}
}

a { 
	word-break: break-all;
	white-space: normal;
	overflow-wrap: break-word;
} 

section {
	padding: 80px 0;
}

.title {
	font-size: 48px;
	font-family: $primary-font;

	&--white {
		color: $white;
	}

	&--accent {
		color: $accent;
	}

	&--primary {
		color: $primary;
	}
}

.subtitle {
	font-size: 24px;
	font-weight: 500;

	&--white {
		color: $white;
	}

	&--accent {
		color: $accent;
	}
}

.text-accent {
	color: $accent;
	font-size: 22px;
	font-weight: 500;
}

.header {
	background-image: url('../img/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 65% center;
	min-height: 616px;
	padding: 20px 0;

	&__description {
		margin-top: 60px;
	}

	&__sponsors {
		margin-top: 94px;
	}

	&__dates {
		margin-top: 60px;
	}
}


.header-menu {
	padding: 15px 0;

	&__list {
		display: flex;
		align-items: center;
		gap: 75px;
	}

	&__item {
		&--active {
			.header-menu__link {
				color: $primary;
			}
		}

		&:hover {
			.header-menu__link {
				color: $primary;
			}
		}
	}

	&__link {
		color: #154043;
		font-weight: 500;
		font-size: 20px;
		cursor: pointer;
	}
}


.dates {
	border-radius: 48px;
	box-shadow: 0px 10px 30px 0px rgba(63, 109, 112, 1);
	background: $accent;
	padding: 10px 25px;
	width: max-content;
	box-shadow: 
		inset 3px 3px 3px #FFD094,
		inset -3px 3px 3px #FFD094,
		inset 3px -3px 3px #FFD094,
		inset -3px -3px 3px #FFD094,
		0 10px 30px #3F6D70;

	&__text {
		color: $primary;
		font-size: 24px;
		font-weight: 700;
	}
}

.main-title {
	font-size: 100px;
	line-height: 100%;
	font-family: $primary-font;
	color: $accent;
	text-shadow: 0 10px 10px rgba(#000000, 35%);
}

.main-subtitle {
	font-size: 48px;
	font-family: $primary-font;
	color: $accent;
	margin-top: 16px;
	text-shadow: 0 10px 10px rgba(#000000, 35%);
}

.sponsors {
	&__list {
		display: flex;
		align-items: center;
		gap: 55px;
	}

	&__item {
		display: flex;
		align-items: center;
		height: 46px;
	}
	
	img {
		max-height: 100%;
	}
}

.rating {
	background-image: url('../img/bg-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% top;

	&__subtitle {
		margin-top: 15px;
	}

	&__wrap {
		display: flex;
		align-items: flex-start;
		margin-top: 73px;
		gap: 65px;
	}

	&__text {
		color: $white;
		font-size: 22px;

		& + & {
			margin-top: 30px;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 74px;
		margin-top: 62px;
	}

	&__description {
		max-width: 977px;
	}
}

.rating-personal {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
	gap: 25px;
	border-radius: 32px;
	max-width: 546px;
	padding: 37px 48px;

	&--dark {
		background: rgba(130, 148, 101, 0.8);
	}

	&--primary {
		background: #476A58;
		color: $white;

		.rating-personal__title {
			color: $accent;
		}

		.rating-personal__prize {
			background-color: #476A58;
		}

		.rating-personal__col--place {
			.rating-personal__text {
				color: $accent;
			}

			.rating-personal__prize {
				border: 1px solid $accent;
				background-color: #476A58;
			}
		}
	}

	&__title {
		font-size: 44px;
		font-family: $primary-font;
	}

	&__columns {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;

		&--place {
			.rating-personal {
				&__text {
					font-size: 24px;
					font-weight: 500;
				}

				&__prize {
					background-color: #2F3C18;
				}
			}
		}
	}

	&__text {
		font-size: 18px;
		max-width: 250px;
		width: 100%;
	}

	&__prize {
		border: 1px solid $white;
		border-radius: 50px;
		background-color: #607046;
		padding: 6px 24px;
		color: $white;
		font-size: 24px;
		font-weight: 500;
		display: flex;
		align-items: center;
		// min-width: 165px;
		white-space: nowrap;
	}
}


.main-button {
    min-width: 325px;
    font-size: 22px;
    line-height: 100%;
    font-weight: 500;
    border-radius: 16px;
    background: #610C00;
    padding: 19px 23px;
    text-align: center;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    color: #D6AD78;
    width: max-content;

	&--white {
		color: $white;
		background: #A92820;
	}

	&:hover {
		box-shadow: inset 0 0 0 35px rgba(255,255,255,.1);
	}
}

.rules-link {
	display: flex;
	align-items: center;
	gap: 15px;

	&__text {
		color: $accent;
		font-size: 22px;
		font-weight: 500;
		white-space: nowrap;
	}

	&__icon {
		width: 15px;
	}
}

   
.rating-info-slider {
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		> li {
			display: inline-block;
			margin: 5px;
		}
		> .slick-active {
			color: $accent;
		}
	}

	.slick-arrow {
		position: absolute;
		bottom: -50px;
		z-index: 10;
		font-size: 0;
		width: 35px;
		height: 35px;
		border: none;
		outline: 0;
		cursor: pointer;

		& + .slick-list {
			margin-bottom: 15px;
		}
	}

	.slick-arrow.slick-prev {
		left: 130px;
		background: url(../img/arrow-left.svg) 0 0/100% no-repeat
	}

	.slick-arrow.slick-prev:hover {
		background: url(../img/arrow-left.svg) 0 0/100% no-repeat
	}

	.slick-arrow.slick-prev.slick-disabled {
		background: url(../img/arrow-left-disabled.svg) 0 0/100% no-repeat
	}

	.slick-arrow.slick-next {
		right: 130px;
		background: url(../img/arrow-right.svg) 0 0/100% no-repeat
	}

	.slick-arrow.slick-next:hover {
		background: url(../img/arrow-right.svg) 0 0/100% no-repeat
	}

	.slick-arrow.slick-next.slick-disabled {
		background: url(../img/arrow-right-disabled.svg) 0 0/100% no-repeat
	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		// margin: 0 10px;

		> div {
			display: flex;
			min-height: 100%;
		}
	}
}

.slider-pagination {
	display: flex;
	gap: 0;
	margin-top: 10px;
	justify-content: center;
	
	.dot {
		cursor: pointer;
		padding: 5px;
		color: #826034;

		&.active {
			color: $primary;
		}
	}

	.dots {
		margin: 0 10px;
		color: #826034;
	}
}

.rating-info-table {
	overflow-x: auto;

	&::-webkit-scrollbar {
    	display: none
	}

	&__row {
		table-layout: fixed;
		white-space: nowrap;
		background-color: transparent;
		width: 100%;
		border-spacing: 0 8px;
    	border-collapse: separate;
	}

	tr {
		background: #A68358;

		&:hover {
			box-shadow: inset 0 0 0 35px rgba(255,255,255,.1)
		}
	}

	th {
		background: transparent;
		color: $black;
		padding: 5px 15px 10px;
		font-size: 20px;
		text-align: left;
		font-weight: 400;
	}

	td {
		padding: 18px 40px;
		word-break: break-word;
		font-size: 20px;
		line-height: 20px;
		color: $black;
		white-space: normal;
		backdrop-filter: blur(50px);

		&:first-child {
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}

		&:last-child {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}
	}

	& + .sect-postscript,
	& + p {
		margin-top: 30px;
	}

	thead tr {
		background: transparent;

		th {
			font-weight: 500;
		}

		&:hover {
			background: transparent;
			box-shadow: none;
		}
	}
}

.personal-tasks {
	background-color: #538884;
}

.tasks-years {
	&__columns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		margin-top: 50px;
	}

	&__col {
		width: 100%;

		&--min-w {
			width: 50%;
		}
	}

	&__year {
		color: $white;
		font-family: $primary-font;
		font-size: 44px;
	}

	&__line {
		margin-top: 15px;
		height: 4px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		margin-top: 23px;
	}

	&__button {
		padding: 10px 40px;
		font-size: 24px;
		font-weight: 500;
		color: #173B3C;
		border-radius: 16px;
		background: rgba(255, 255, 255, 0.5);
		max-width: 270px;
		width: 100%;
		text-align: center;
		cursor: pointer;

		&:hover {
			box-shadow: inset 0 0 0 35px rgba(255,255,255,.1);
		}

		&--active {
			background-color: #255255;
			color: $white;

			&:hover {
				box-shadow: none;
			}
		}
	}
}

.tasks-sponsors {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 77px;
		overflow: hidden;
	}

	&__item {
		min-height: 216px;
		width: 100%;
		border-radius: 32px;
		background-color: #255255;
		padding: 35px 60px 23px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 25px;

		&--general {
			background-color: #E6B574;

			.tasks-sponsors__mark {
				background-color:#A92820;
				border-radius: 0px 48px 48px 0px;
				color: $white;
				margin-left: -60px;
				padding: 10px 25px 10px 60px;
				margin-right: 0;
			}

			.tasks-sponsors__bank-logo {
				svg path {
					fill: $black;
				}
			}

			.tasks-sponsors__bank-name,
			.progress-label-top,
			.progress-label-bottom  {
				color: $black;
			}

			.progress-line,
			.markers__mark {
				background-color: #F4D5AE;
			}

			.markers__mark::before {
				background-color: #A92820;
			}

			.progress-line__fill {
				background-color: #A92820;
			}

			.tasks-sponsors__approve {
				background: rgba(255, 255, 255, 0.9);
			}

			.tasks-sponsors__reward {
				color: $white;
				background: rgba(108, 21, 6, 0.5);
			}
		}
	}

	&__col {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__mark {
		border-radius: 48px;
		background: #F4D5AE;
		padding: 10px 25px;
		font-size: 20px;
		font-weight: 500;
		// min-width: 130px;
		text-align: center;
		margin-right: 100px;
		white-space: nowrap;
	}

	&__bank {
		display: flex;
		align-items: center;
		gap: 40px;
		width: 100%;

		&-logo {
			max-height: 50px;
			display: flex;
		}

		&-name {
			font-size: 22px;
			color: $white;
			white-space: nowrap;
		}
	}

	&__progress {
		width: 100%;
		margin-right: 30px;
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__approve {
		display: flex;
		align-items: center;
		gap: 10px;
		white-space: nowrap;
		border-radius: 16px;
		background: #85CAC5;
		padding: 10px 20px;

		&-text {
			font-size: 18px;
			font-weight: 500;
		}

		&-number {
			font-size: 24px;
			font-weight: 500;
		}
	}

	&__reward {
		display: flex;
		align-items: center;
		gap: 10px;
		white-space: nowrap;
		border-radius: 16px;
		background: rgba(9, 36, 35, 0.5);
		padding: 10px 20px;

		&-text {
			font-size: 18px;
			font-weight: 500;
			color: $white;
		}

		&-number {
			font-size: 24px;
			font-weight: 500;
			color: $white;
		}
	}
}

.progress-container {
	width: 100%;
	max-width: 1052px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progress-line {
	height: 6px;
	background-color: #CACFD2;
	border-radius: 5px;
	position: relative;
	width: 100%;
	margin-bottom: 10px;

	&__fill {
		height: 100%;
		background-color: $accent;
		width: 0;
		transition: width 0.3s ease;
	}
}

.progress-label-top {
	position: absolute;
	top: -40px;
	font-size: 20px;
	font-weight: 400;
	color: $white;

	&--start {
		left: 0;
	}

	&--center {
		left: 49%;
	}

	&--end {
		right: 0;
	}
}

.progress-label-bottom {
	position: absolute;
	top: 20px;
	font-size: 20px;
	font-weight: 500;
	color: $white;

	&--start {
		left: 0;
	}

	&--center {
		left: 46%;
	}

	&--end {
		right: 0;
	}
}

.markers {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: -7px;

	&__mark {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #CACFD2;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: var(--before-width, 0);
			height: var(--before-height, 0);
			border-radius: 50%;
			background-color: $accent;
			transition: width 0.3s ease, height 0.3s ease;
		}

		&--0 {
			&::before {
				left: 0;
			}
		}

		&--50 {
			&::before {
				left: calc(50% - 10px);
			}
		}

		&--100 {
			&::before {
				right: 0;
			}
		}
	}
}

.fight {
	background-image: url('../img/bg-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #CDAF89;

	&__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
	}

	&__col {
		width: 50%;
	}

	&__text {
		font-size: 22px;
		margin-top: 31px;
	}

	&__button {
		margin-top: 20px;
	}

	&__personal {
		margin-top: 41px;
	}

	&__rating {
		max-width: 556px;
    	width: 100%;
	}

	&__box {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		gap: 15px;
	}
}

.ranks {
	background-color: #255255;

	&__title {
		text-align: center;
	}

	&__content {
		margin-top: 40px;
	}

	&__button {
		display: flex;
    	justify-content: center;
	}
}

.content-ranks {
	&__slider {
		margin-bottom: 40px;
	}
}

.content-ranks-slider {
	.slick-dots {
		display: flex;
		font-size: 0;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -22px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	
		li {
			position: relative;
			display: inline-block;
			width: 16px;
			height: 4px;
			margin-right: 9px;
			padding: 0;
			cursor: pointer;
			background-color: $white;
			opacity: 0.4;
			border-radius: 4px;
	
			&.slick-active {
				background-color: $white;
				opacity: 1;
				width: 56px;
			}
	
			button {
				font-size: 0;
				line-height: 0;
				display: block;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: 0;
				background: 0 0;
				width: 16px;
				height: 4px;
			}
		}
	}

	.slick-slide {
		height: auto;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	.slick-track {
		justify-content: space-between;
	}

	&__item {
		border-radius: 32px;
		padding: 36px 48px;
		min-height: 420px;
		position: relative;
		overflow: hidden;
		background: linear-gradient(147deg, #0D3435, #27726c);


		&::after {
			position: absolute;
			content: '';
			background-repeat: no-repeat;
		}
	}

	&__title {
		font-size: 44px;
		font-family: $primary-font;
		color: $white;
		line-height: 62px;
		margin-bottom: 32px;
		position: relative;
		z-index: 1;
	}

	&__info {
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		color: $white;
		margin-bottom: 32px;
		position: relative;
		z-index: 1;
		// max-width: 300px;
	}

	&__prize {
		font-size: 24px;
		line-height: 140%;
		font-weight: 500;
		color: $accent;
		position: relative;
		z-index: 1;
	}

	&__price {
		font-size: 32px;
		line-height: 140%;
		font-weight: 500;
		color: $accent;
		position: relative;
		z-index: 1;
	}

	&__image {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
}

.footer {
	background-color: #081514;
	padding: 55px 0;

	&__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 15px;
	}

	&__text {
		font-size: 20px;
		color: $white;

		& + & {
			margin-top: 32px;
		}
	}

	&__logo {
		width: 100px;
		height: 43px;
	}
}

.scroll-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
    transition: opacity 0.3s;

	&:hover {
		opacity: 0.8;
	}
}

.content-rules {
	background: url('../img/bg-3.png'), rgba(46, 58, 22, 1);
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 1048px;

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__title {
		margin-bottom: 0;
		color: $accent;
	}

	&__subtitle {
		font-size: 32px;
		font-weight: 500;
		color: $accent;

		& + .content-rules-list {
			margin-top: 40px;
		}
	}

	&__button {
		margin-top: 40px;
	}
}

.content-rules-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-left: 20px;

	&__item {
		list-style-type: auto;
		position: relative;
		color: $white;
		font-size: 20px;

		> .content-rules-list {
			margin-top: 30px;
		}
	}

	&__link {
		color: $white;
		display: inline-block;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&--disc {
		padding-left: 10px;

		.content-rules-list__item > {
			.content-rules-list {
				margin-top: 20px;

				.content-rules-list__item {
					list-style-type: auto;

					&::before {
						display: none;
					}
				}
			}
		}

		.content-rules-list {
			&__item {
				list-style-type: none;
	
				&::before {
					content: '';
					display: block;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $white;
					position: absolute;
					top: 8px;
					left: -17px;
				}
			}
		}

		&-accent {
			.content-rules-list {
				&__item {
					&::before {
						background-color: $accent;
					}
				}
			}
		}
	}
}

.challenge {
	background-color: #538884;

	&__subtitle {
		margin-top: 40px;
	}

	&__sponsors {
		margin-top: 66px;
	}

	&__columns {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__text {
		color: $white;
		font-size: 22px;

		& + & {
			margin-top: 25px;
		}
	}

	&__info {
		max-width: 1032px;
	}

	&__image {
		flex: 1 0 auto;
	}
}

.triumph {
	background-image: url('../img/bg-4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% center;
	min-height: 451px;

	&__text {
		margin-top: 70px;
		font-size: 22px;
		color: $white;
		max-width: 932px;
	}
}


.challenge-sponsors {
	min-height: 198px;
	display: flex;
	
	&__item {
		width: 100%;
		padding: 40px;
		background-color: #BCAD9B;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 50px;

		&--general {
			background-color: #E6B574;
		}

		&:first-child {
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
			padding-left: 5%;
		}

		&:nth-child(2) {
			padding-left: 6%;
		}

		&:last-child {
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}

	&__logo {
		height: 46px;

		svg {
			height: 100%;

			path {
				fill: $black;
			}
		}

		img {
			height: 100%;
			object-fit: contain;
		}
	}
}

.mastery {
	background-image: url('../img/bg-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 966px;

	&__subtitle {
		margin-top: 15px;
	}

	&__info {
		margin-top: 30px;
		color: $white;
		font-size: 22px;
		max-width: 1440px;
	}

	&__box {
		margin-top: 40px;
	}

	&__button {
		margin: 40px auto 0;
	}
}

.mastery-box {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 32px;

	&__item {
		border-radius: 32px;
		background: rgba(130, 148, 101, 0.8);
		min-height: 210px;
		padding: 37px 48px;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&:first-child {
			grid-row: span 2 / span 2;

			.mastery-box__info {
				font-size: 32px;
			}
		}

		&:nth-child(4) {
			grid-column-start: 2;
		}

		&:nth-child(5) {
			grid-column-start: 3;
		}
	}

	&__price {
		font-family: $primary-font;
		font-size: 46px;
		color: $accent;
		z-index: 1;

		span {
			font-size: 48px;
		}
	}

	&__info {
		font-size: 24px;
		font-weight: 500;
		margin-top: 20px;
		max-width: 260px;
		z-index: 1;
	}

	&__title {
		font-family: $primary-font;
		font-size: 44px;
		z-index: 1;
	}

	&__image {
		position: absolute;
		bottom: -5px;
		right: 0;
		z-index: 0;
	}
}





/************* Media *****************************/
@media (max-width: 1550px) {
	.fight__image {
		display: none;
	}
}

@media (max-width: 1300px) {
	.rating {
		&__wrap {
			flex-direction: column;
		}

		&__description {
			max-width: 100%;
		}

		&__personal {
			margin: 0 auto;
		}
	}

}


@media (max-width: 1100px) {
	.header {
		background-image: url('../img/main-bg-mobile.jpg');
		background-position: bottom center;
		min-height: 800px;
		padding: 15px 0;

		&__dates {
			margin-top: 35px;
		}

		&__description {
			margin-top: 41px;
		}

		&__sponsors {
			margin-top: 28px;
		}
	}

	.header-menu {
		padding: 5px 0;

		&__list {
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
		}
		
		&__link {
			font-size: 18px;
		}
	}
	
	.main-title {
		font-size: 50px;
	}

	.main-subtitle {
		font-size: 34px;
		line-height: 100%;
	}

	.dates {
		&__text {
			font-size: 19px;
		}
	}

	.sponsors {
		&__list {
			gap: 16px 26px;
			flex-wrap: wrap;
		}

		&__item {
			height: 38px;
		}
	}

	.title {
		font-size: 34px;
		line-height: 100%;
	}

	.subtitle {
		font-size: 18px;
	}

	section {
		padding: 60px 0;
	}

	.rating {
		background-position: center;

		&__subtitle {
			margin-top: 24px;
		}

		&__wrap {
			margin-top: 30px;
			gap: 40px;
		}

		&__text {
			font-size: 18px;
		}
	}

	.tasks-years {
		&__columns {
			flex-direction: column;
			margin-top: 40px;
			gap: 40px;
		}

		&__col {
			&--min-w {
				width: 100%;
			}
		}

		&__year {
			font-size: 38px;
		}

		&__buttons {
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 11px;
		}

		&__button {
			flex-basis: 47%;
			max-width: 100%;
		}
	}

	.tasks-sponsors {
		&__list {
			margin-top: 40px;
		}

		&__col {
			flex-direction: column;
			align-items: flex-start;
		}

		&__item {
			gap: 60px;
			padding: 40px 15px;

			&--general {
				.tasks-sponsors__mark {
					border-radius: 48px;
					margin-left: 0;
					padding: 15px 35px;
				}
			}
		}

		&__bank {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}

		&__mark {
			min-width: 207px;
		}
	}

	.progress-label-top--center {
    	right: 0;
	}

	.fight {
		&__wrap {
			flex-direction: column;
			gap: 40px;
		}

		&__col {
			width: 100%;
		}

		&__personal {
			margin: 41px auto 0;
		}

		&__button {
			margin: 20px auto 0;
		}
	}

	.mastery {
		&__info {
			font-size: 18px;
			margin-top: 40px;
		}

		&__box {
			margin-top: 35px;
		}
	}

	.mastery-box {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 20px;

		&__item {
			&:first-child {
				grid-column: span 2 / span 2;
				grid-row: auto;
			}

			&:nth-child(2) {
				grid-row-start: 2;
			}

			&:nth-child(3) {
				grid-row-start: 2;
			}

			&:nth-child(5) {
				grid-row-start: 3;
				grid-column-start: auto;
			}
		}
	}

	.challenge-sponsors {
		flex-wrap: wrap;

		&__item {
			flex-basis: 50%;

			&:first-child {
    			border-bottom-left-radius: 0;
			}

			&:nth-child(2) {
				border-top-right-radius: 16px;
			}

			&:nth-child(3) {
				border-bottom-left-radius: 16px;
			}

			&:last-child {
				border-top-right-radius: 0;
    			border-bottom-right-radius: 16px;
			}
		}
	}

	.challenge {
		&__sponsors {
			margin-top: 33px;
		}

		&__columns {
			flex-direction: column;
			margin-top: 50px;
		}

		&__image {
			margin: 27px auto 0;
		}
	}
}


@media (max-width: 700px) {
	.text-accent {
		font-size: 20px;
	}

	.rating {
		&__links {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			margin-top: 30px;
		}
	}

	.rating-personal {
		padding: 37px 20px 20px;

		&__title {
			font-size: 34px;
		}

		&__col {
			flex-direction: column;
			align-items: flex-start;
		}

		&__text {
			font-size: 16px;
			max-width: 100%;
		}

		&__prize {
			font-size: 20px;
		}
	}

	.tasks-sponsors {
		&__info {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			margin-top: 20px;
		}

		&__approve,
		&__reward {
			padding: 14px 20px;

			&-text {
				font-size: 16px;
			}

			&-number {
				font-size: 18px;
			}
		}
	}

	.main-button {
		width: 100%;
		min-width: 100%;
	}

	.progress-label-bottom--center {
		left: 43%;
	}

	.rating-info-table {
		th {
			padding: 12px;
			font-size: 18px;
		}

		td {
			font-size: 18px;
			padding: 12px 10px;
		}
	}

	.rating-info-slider {
		.slick-arrow {
			&.slick-prev {
				left: 10px;
			}
	
			&.slick-next {
				right: 10px;
			}
		}
	}

	.ranks {
		&__title {
			text-align: left;
		}
	}

	.sponsors {
		&__item {
        	height: 1%;

			img {
				height: 28px;
			}
		}
	}


	.footer {
		&__wrap {
			flex-direction: column;
			gap: 30px;
		}

		&__text {
			font-size: 18px;
		}
	}

	.content-rules {
		&__wrap {
			gap: 30px;
		}

		&__subtitle {
			font-size: 24px;
			
			& + .content-rules-list {
				margin-top: 20px;
			}
		}
	}

	.content-rules-list {
		&__item {
			> .content-rules-list {
				margin-top: 20px;
			}
		}
	}

	.mastery-box {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 1fr);

		&__item {
			padding: 37px 20px;
			min-height: 320px;

			&:first-child {
				grid-column: auto;

				.mastery-box__info {
					font-size: 24px;
				}
			}

			&:nth-child(2) {
				grid-row-start: auto;;
			}

			&:nth-child(3) {
				grid-row-start: auto;;
			}

			&:nth-child(4) {
				grid-column-start: auto;;
			}

			&:nth-child(5) {
				grid-row-start: auto;
			}
		}

		&__price {
			font-size: 32px;

			span {
				font-size: 34px;
			}
		}

		&__title {
			font-size: 34px;
		}
	}

	.challenge-sponsors {
		flex-direction: column;

		&__item {
			padding: 22px 20px 30px;
			gap: 20px;

			&:first-child {
    			border-top-right-radius: 16px;
			}

			&:nth-child(2) {
				border-top-right-radius: 0;
			}

			&:nth-child(3) {
				border-bottom-left-radius: 0;
			}

			&:last-child {
    			border-bottom-left-radius: 16px;
    			border-bottom-right-radius: 16px;
			}
		}
	}

	.triumph {
		background-image: url('../img/bg-4-mobile.jpg');
		background-position: bottom center;
		min-height: 853px;

		&__text {
			margin-top: 40px;
			font-size: 18px;
		}
	}
}


@media (max-width: 500px) {
	.content-ranks-slider {
		margin-right: -20px;

		&__title {
			font-size: 34px;
		}

		&__item {
			min-height: 315px;
			min-width: 300px;
			padding: 24px 20px;
		}

		&__info {
			font-size: 20px;
			margin-bottom: 23px;
			max-width: 160px;
		}

		&__prize {
			font-size: 20px;
		}

		&__price {
			font-size: 24px;
		}

		&__image {
			max-width: 180px;
		}
	}
}


@media (max-width: 400px) {
	.tasks-years__button {
		flex-basis: 100%;
	}
}



